@model WebProjElective.Models.Product

@{
    ViewBag.Title = "Create Product";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="~/css/admindes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="admin-panel-addproduct">
        <header>
            <h1>Admin Panel</h1>
            <div class="logout-icon">
                <img src="~/images/logout-icon.png" alt="Logout">
            </div>
        </header>
        <form action="Insert" method="post" class="product-form" id="product-form" enctype="multipart/form-data">
            <h3>PRODUCT INFORMATION</h3>

            <input type="text" placeholder="Product Name" class="box" name="ProductName" required>
            <input type="number" placeholder="Product Price" class="box" name="ProductPrice" required>
            <textarea placeholder="Product Description" class="box" name="ProductDescription" required></textarea>
            <input type="file" accept=".jpeg, .jpg" class="box" name="ProductImage" required>
            <input type="number" placeholder="Available Items" class="box" name="ProductAvailableItems" required>
            <input type="datetime" class=box ="ProductDateUpload" value="@DateTime.Now" />

            <button type="submit" class="btn">Create Product</button>
            <span id="close-product-form">&times;</span>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
</body>
</html>